@CHARSET "UTF-8";

@font-face {
	font-family: "IonIcons";
	src:
		url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
	src:
		url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix")
		format("embedded-opentype"),
		url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1")
		format("truetype"),
		url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1")
		format("woff"),
		url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons")
		format("svg");
	font-weight: normal;
	font-style: normal
}

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	font-family: Arial;
	background-color: #3498DB;
	padding: 50px;
}

.login {
	margin: 20px auto;
	width: 300px;
}

.login-screen {
	background-color: #FFF;
	padding: 20px;
	border-radius: 5px
}

.app-title {
	text-align: center;
	color: #777;
}

.text {
	text-align: center;
	color: #808080;
}

.login-form {
	text-align: center;
}

.control-group {
	margin-bottom: 10px;
}

.menu {
	margin: 20px auto;
	width: 400px;
}

.list {
	margin: 20px auto;
	width: 540px;
}

.detail {
	margin: 20px auto;
	width: 380px;
}
.search {
	margin: 20px auto;
	width: 600px;
}

.bar {
	margin: 20px auto;
	width: 400px;
}
.bar-screen {
	background-color: #FFF;
	width:430px;
	padding: 10px;
	border-radius: 5px
}
.figure {
	display: inline-block;
	margin: 0px 3px 7px 0px;
	background-color: #FFF;
}

.figure img {
	display: block;
	margin: 0px 0px 3px 0px;
}

.figcaption {
	font-size: 0.9em;
	text-align: center;
}

.mainimg img {
	display: flex;
}


input {
	text-align: center;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	width: 250px;
	transition: border .5s;
}

input:focus {
	border: 2px solid #3498DB;
	box-shadow: none;
}

.mini {
	border: 2px solid transparent;
	background: #2980B9;
	color: #ffffff;
	font-size: 14px;
	line-height: 25px;
	padding: 10px 0;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 90px;
	margin: 0 auto;
}

.btn {
	border: 2px solid transparent;
	background: #3498DB;
	color: #ffffff;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 250px;
	margin: 0 auto;
}

.btn:hover {
	background-color: #2980B9;
}

.login-link {
	font-size: 12px;
	color: #444;
	display: block;
	margin-top: 12px;
}

figure {
	display: inline-block;
	margin: 0px 3px 7px 0px;
	background-color: #FFF;
}

figure img {
	display: block;
	margin: 0px 0px 3px 0px;
}

figcaption {
	font-size: 0.9em;
	text-align: center;
}

ul {
	display: flex;
}

.pt20{
  padding-top: 20px;
}
.inverse{
  background: #000;
  padding: 20px 0;
  color: #fff;
}
.select-wrap {
    position: relative;
}
.select-wrap:before {
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 0;
    content: "\f123";
    font-family: "IonIcons";
    line-height: 43px;
    color: #7F878C;
    pointer-events: none;
}
select{
    outline:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    padding: 8px 12px;
    border:1px solid #ddd;
    color:#828c9a;
    width:100%;
    border-radius:3px;
}
select option{
  background-color: #fff;
  color: #333;
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}
.select-wrap.select-primary:before{
  color:#fff;
}
.select-wrap.select-primary > select{
  background:#0084B4;
  color:#fff;
  border-color:#0084B4;
}
.select-wrap.select-primary > select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #fff;
}

.select-wrap.select-inverse:before{
  color:#fff;
}
.select-wrap.select-inverse > select{
  color:#fff;
  border-color: #fff;
}

.select-wrap.select-inverse > select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #fff;
}
